#wrapper
{
    width: 1000px;
    height: 800px;
    background-color: gray;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#section
{
    padding-top: 50px;
}

#echiquier
{
    margin-left: auto;
    margin-right: auto;
}

#echiquier td
{
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 30px;
}

#inputs
{
    text-align: center;
    margin-top: 10px;
}

#inputs table
{
    margin-left: auto;
    margin-right: auto;
}

.pion_blanc
{
    background-image: url("img/pion_blanc.png");
}

.cavalier_blanc
{
    background-image: url("img/cavalier_blanc.png");
}

.fou_blanc
{
    background-image: url("img/fou_blanc.png");
}

.tour_blanc
{
    background-image: url("img/tour_blanc.png");
}

.dame_blanc
{
    background-image: url("img/dame_blanc.png");
}

.roi_blanc
{
    background-image: url("img/roi_blanc.png");
}

.pion_noir
{
    background-image: url("img/pion_noir.png");
}

.cavalier_noir
{
    background-image: url("img/cavalier_noir.png");
}

.fou_noir
{
    background-image: url("img/fou_noir.png");
}

.tour_noir
{
    background-image: url("img/tour_noir.png");
}

.dame_noir
{
    background-image: url("img/dame_noir.png");
}

.roi_noir
{
    background-image: url("img/roi_noir.png");
}