#wrapper
{
    width: 1000px;
    height: 800px;
    background-color: gray;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#section
{
    padding-top: 50px;
}

#echiquier
{
    margin-left: auto;
    margin-right: auto;
}

#echiquier td
{
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 30px;
}

#inputs
{
    text-align: center;
    margin-top: 10px;
}

#inputs table
{
    margin-left: auto;
    margin-right: auto;
}